/* 
 This CSS file is used to override the existing styles of the theme.
 You can change the article headings, fonts, colors, etc.
*/
body{
    background: #146aff;
    border: 0;
    margin: 0;
    /* outline:0; */
    padding: 0;
    vertical-align: baseline;
}
.text-lg {
    font-size: 2.125rem;
    line-height: 1.75rem;
}
.text-black {
    --tw-text-opacity: 1;
    color: rgb(205 161 161 / var(--tw-text-opacity));
}
.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(205 208 215);
}
.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(187 191 197);
}
h1{
    font-weight: bold;
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color:rgb(205 208 215); 
}
.prose {
    
    --tw-prose-headings: #d1d5db;
    --tw-prose-bold:#d1d5db;
}

.content{
    color:rgb(205 208 215);
}